<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Restaurant finder</title>
    </head>
    <body>
        <h1>You added a cuisine</h1>
        {{ cuisine.getType() }}
        <p><a href="/">Back</a></p>
    </body>
</html>
