<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Restaurant finder</title>
    </head>
    <body>
        <h1>You added a cuisine</h1>
        {{ cuisine.getType() }}

        <!-- <p><a href="/cuisine/{{ cuisine.getId }}/edit">Edit this cuisine</a></p> -->

        <p><a href="/">Home</a></p>
    </body>
</html>
