<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <meta charset="utf-8">
        <title>Restaurant finder</title>
    </head>
    <body>
        <h1>You added a cuisine</h1>
        {{ cuisine.getType() }}
        <br>
        <p><a href="/">Home</a></p>
    </body>
</html>
